body {
	color:black;	
	background-image:url(img/tile.jpg);
	font-size: 1.3em;
    }

.div-title {
    text-align: center;
    margin-top: 3%;
	font-family: "Brush Script MT";
	font-size: 2em;
}

.div-second {
	background-image: url(img/formbg.jpg);    
    text-align: center;
    margin: auto;
    background-repeat: repeat;
    width: 33.33%; 
	max-width: 33.333333%;    
    padding: 15px;
}
.div-first .div-third {	
    width: 33.33%; 
	max-width: 33.333333%;   
}

.div-bootstrap {
	 width: 100%;
	 display: inline-flex;
}


input.form-element {	
	color: #000;
	margin: 4px;
}

td.label {
	text-align:right;
}

.petek {
	display: inline-flex;	
	background-image:url(img/notebg.png);
	width: 200px;
	height: 250px;		
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.spetek {	
	width: 160px;
	height: 170px;
	margin-top: 20px;
    margin-left: 10px;
	max-width: 170px;
	overflow-y: auto;	
}
.dpetek {	
	width: 180px;
	height: 20px;	
    margin-left: 10px;
}
.tpetek {	
	width: 180px;
	height: 20px;	
    margin-left: 10px;
}

.xbut {
	width: 25px;
    height: auto;
    position: relative;
    top: -140;
    right: 50;
    display: none;
}