body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: black;
}

#game_board {
  background-color: #ccc;
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-rows: repeat(21, 1fr);
  grid-template-columns: repeat(21, 1fr);
}

.snake {
  background-color: blue;
  border: 0.25vmin solid black;
}

.food {
  background-color: black;
  border: 0.25vmin solid black;
}

.controls {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "up up up"
    "left down right";
  width: 210px;
}

.controls div {
  background: blue;
  border: 2px solid white;
  color: white;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}
#up {
  margin: 0 auto;
  grid-area: up;
}
#down {
  grid-area: down;
}
#left {
  grid-area: left;
}
#right {
  grid-area: right;
}

@media (min-width: 650px) {
  .controls {
    display: none;
  }
}
